.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.chat-content {
  background-color: white;
}
.chat-content .chat {
  padding: 18px 30px;
}
.chat-content .chat a {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
/* .message-inbox{
  position: fixed;
} */
.message-content {
  padding: 10px;
}
.message-content:hover {
  background-color: #fafafa;
}
.message-content h5 {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 23px;
}

.message-content p {
  font-size: 14px;
  color: #888888;
}
.active-message {
  background-color: #fafafa;
}
.message-heading {
  width: 100%;
  margin: 0;
  padding: 29px 25px;
  padding-right: 32px;
  max-height: 87px;
  font-size: 14px;
  background-color: white;
}

.message-heading .messages-prop {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
.delete-messages {
  color: #ee3642;
}
.edit-messages {
  color: #10b981;
  margin-right: px;
}
.message-date span {
  color: #666;
}
.message-blue {
  background-color: #2a41e8;
  color: white;
  padding: 13px 25px;
  margin-right: 50px;
  border-radius: 8px;
  position: relative;
}
.message-blue::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid red;
  border-right: none;
  right: -6px;
  left: auto;
}

.message-gray {
  background-color: #f4f4f4;
  color: #666;
  padding: 13px 25px;
  margin-left: 50px;
  border-radius: 8px;
  position: relative;
}
.message-gray:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #f4f4f4;
  left: -6px;
  right: auto;
  top: 19px;
  position: absolute;
}
.sender {
  position: absolute;
  top: 5px;
  right: -5px;
}
.reciver {
  position: absolute;
  top: 5px;
  left: -5px;
}
.send-area {
  bottom: 0px;
  width: 100%;
  padding: 25px 67px 25px 35px;
  background-color: white;
}
.send-area input {
  border: 0px;
}
.send-area input:focus {
  outline: none;
}
.send-area .send-button {
  padding: 7px 30px;
  background-color: #2a41e8;
  color: white;
  text-decoration: none;
  border: 0px;
  border-radius: 40px;
  font-size: 18px;
}

.messages-wrapper {
  height: calc(100vh - 243px);
  overflow-y: scroll;
}
.chat-wrapper {
  height: calc(100vh - 160px);
  overflow-y: scroll;
}
.messages-wrapper::-webkit-scrollbar,
.chat-wrapper::-webkit-scrollbar {
  width: 10px;
}
.messages-wrapper::-webkit-scrollbar-thumb,
.chat-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(238, 236, 236, 0.856);
  background-color: #b1b1b1;
  border: 1px solid rgb(220, 220, 220);
}
.message-canvas-photo {
  width: 94px;
  height: 94px;
  line-height: 100px;
  border-radius: 100%;
  overflow: hidden;
}
.message-canvas-name {
  font-size: 17px;
  font-weight: bold;
}
.top-0 {
  top: 0px;
}
.message-canvas-search {
  outline: none;
  border: none;
  border-radius: 7px;
}
.message-canvas-search-user-data {
  position: absolute !important;
  left: 0px;
  background-color: white;
  width: 100%;
  padding: 8px 35px 25px 35px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 300px;
}
.message-canvas-search-user-data a {
  text-decoration: none;
  color: black;
}
.message-canvas-search-user {
  padding: 5px;
}
.member-btn {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 100%;
  line-height: 20px;
  cursor: pointer;
}
.add-member-btn {
  background-color: #b1b1b1;
  font-size: 14px;
}
.remove-member-btn {
  background-color: #e75252;
  font-size: 18px;
}
h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(255, 255, 255, 0.2);
}
.made-with {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}
.documentation {
  color: #fd264f;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [className^="tab"] label,
.tabs [className*=" tab"] label {
  color: #999499;
  cursor: pointer;
  display: block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [className^="tab"] [type="radio"],
.tabs [className*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [className^="tab"] [type="radio"]:focus,
.tabs [className*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}

.tabs [className^="tab"] [type="radio"]:checked,
.tabs [className*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}
.tabs [className^="tab"] [type="radio"]:checked + div,
.tabs [className*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [className^="tab"] [type="radio"] + div,
.tabs [className*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 50%;
}
.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}
.member-wrapper {
  overflow-y: auto;
  max-height: 300px;
}
.share-button{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 100%;
  line-height: 1px;
  color: white;
  background-color: #888888;
  font-size: 19px;
}

