.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.chat-content {
  background-color: white;
  margin-left: -143px;
}
.chat-content .chat {
  padding: 22px 30px;
}
.chat-content .chat a {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
.message-inbox{
  position: fixed;
}
.message-content {
  padding: 10px;
}
.message-content:hover {
  background-color: #fafafa;
}
.message-content h5 {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 23px;
}
.message-content span {
  font-size: 13px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: #666;
}
.message-content p {
  font-size: 14px;
  color: #888888;
}
.active-message {
  background-color: #fafafa;
}
.message-heading {
  position: fixed;
  width: 947px;
  margin: 0;
  padding: 29px 25px;
  max-height: 87px;
  font-size: 14px;
  background-color: white;
}

.message-heading .delete-messages {
  color: #ee3642;
  text-decoration: none;
  cursor: pointer;
}
.message-date span {
  color: #666;
}
.message-blue {
  background-color: #2a41e8;
  color: white;
  padding: 13px 25px;
  margin-right: 50px;
  border-radius: 8px;
  position: relative;
}
.message-blue::before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid red;
  border-right: none;
  right: -6px;
  left: auto;
}

.message-gray {
  background-color: #f4f4f4;
  color: #666;
  padding: 13px 25px;
  margin-left: 50px;
  border-radius: 8px;
  position: relative;
}
.message-gray:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #f4f4f4;
  left: -6px;
  right: auto;
  top: 19px;
  position: absolute;
}
.sender {
  position: absolute;
  top: 5px;
  right: -5px;
}
.reciver {
  position: absolute;
  top: 5px;
  left: -5px;
}
.send-area {
  position: fixed;
  bottom: 0px;
  width: 849px;
  padding: 25px 67px 25px 35px;
  background-color: white;
}
.send-area input {
border: 0px;
}
.send-area input:focus {
  outline: none;
  }
.send-area .send-button {
  padding: 7px 30px;
  background-color: #2a41e8;
  color: white;
  text-decoration: none;
  border: 0px;
  border-radius: 40px;
  font-size: 18px;
}
