.createPost {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -9px rgb(0 0 0 / 75%);
  padding-bottom: 5px;
}

.createPost-top {
  display: flex;
}


.createPost-top input {
  outline-width: 0;
  border: none;
  padding: 8px 20px;
  margin: 0 10px;
  color: #393939;
  background-color: #f0f2f5;
  border-radius: 32px;
}
.createPost-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.createPost-option {
  display: flex;
  align-items: center;
  color: #929697;
}
.createPost-option h3 {
  font-size: medium;
  margin-left: 10px;
}
.add-post {
  border: 1px solid #8080803b;
  color: gray;
  border-radius: 19px;
  padding: 10px 7px;
  margin-top: 55px;
}
.post-profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
