.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: 64px;
  padding: 0px 15px 50px 15px;
  font-size: 25px;
  transition: 0.7s all;
}

.sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid rgb(236, 236, 236);
  padding: 2px 0;
  background-color: #ececec;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(238, 236, 236, 0.856);
  background-color: #b1b1b1;
  border: 1px solid rgb(220, 220, 220);
}

.scroll-bar {
  max-height: 100%;
  overflow: auto;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

 .profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.sidebar h3 {
  font-size: 19px;
}
.sidebar h4 {
  font-size: 16px;
  margin-left: 12px;
}
.contact-person{
  margin-bottom: 20px;
  padding-left: 3px;
  padding-right: 8px;
}
.pages-item{
  padding-left: 9px;
  margin-bottom: 12px;
}

.sidebar button.more-less {
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}
.sidebar button.more-less div svg {
  height: 25px;
  width: 25px;
  background-color: #d9d7d761;
  border-radius: 100%;
  margin-right: 12px;
  margin-left: 10px;
}
.sidebar-bottom a {
  color: rgb(77, 76, 76);
}

.sidebar-bottom i {
  color: rgb(146, 146, 146);
}
