.createPost {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  padding-bottom: 5px;
}
.createPost-top {
  display: flex;
}
.createPost-top .user-info,
.photo-icon,
.smile-icon,
.location-icon,
.video-icon,
.add-friend {
  width: 35px;
  height: 35px;
  position: relative;
  background-color: #f0f2f5;
  border-radius: 100%;

  text-align: center;
  font-size: 19px;
  color: #3f424b;
}
.photo-icon {
  color: #2563eb;
  background-color: #dbeafe;
  font-size: 22px;
}
.location-icon {
  color: rgb(194, 194, 6);
  background-color: #edf585;
  font-size: 22px;
}
.smile-icon,
.video-icon {
  background-color: #fee2e2;
  color: #dc2626;
  font-size: 20px;
}
.add-friend {
  background-color: #d1fae5;
  color: #119c70;
  font-size: 20px;
}
.createPost-top input {
  outline-width: 0;
  border: none;
  padding: 8px 20px;
  margin: 0 10px;
  color: #393939;
  background-color: #f0f2f5;
  border-radius: 32px;
}
.createPost-bottom {
  display: flex;
  justify-content: space-between;
}
.createPost-option {
  display: flex;
  align-items: center;
  color: #929697;
}
.createPost-option h3 {
  font-size: medium;
  margin-left: 10px;
}
.add-post {
  border: 1px solid #8080803b;
  color: gray;
  border-radius: 19px;
  padding: 10px 7px;
  margin-top: 55px;
}
