.slick-prev {
    left: -10px!important;
}

.slick-next {
    right: -3px!important;
}
.register-sign-in{
    color: #3F3D56;
    position: relative;
    background-color: white;
    padding: 35px 50px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.register-sign-in input{
    height: 44px;
    color: #393939;
    padding: 0 28px 0 28px;
    outline: 0;
    background: #f0f2f5;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.register-sign-in button,.forgot-back{
    border: none;
    color: white;
    background-color: #6C63FF;
    padding: 8px 26px;
    border-radius: 20px;
    font-size: 15px;
}
.register-sign-in button:hover{
    background-color: #3F3D56;
}
.chat-button{
    width: 50px;
    height: 50px;
    line-height: 23px;
    font-size: 29px;
    border-radius: 100%;
    border: none;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #6C63FF;
    color: white;
    position: fixed;
}
.offcanvas{
    width: 310px!important;
}
.createPost-top .user-info,
.photo-icon,
.smile-icon,
.location-icon,
.video-icon,
.add-friend,
.user-profile-upload {
  width: 35px;
  height: 35px;
  position: relative;
  background-color: #f0f2f5;
  border-radius: 100%;

  text-align: center;
  font-size: 19px;
  color: #3f424b;
}
.photo-icon {
  color: #2563eb;
  background-color: #dbeafe;
  font-size: 22px;
}
.location-icon {
  color: rgb(194, 194, 6);
  background-color: #edf585;
  font-size: 22px;
}
.smile-icon,
.video-icon {
  background-color: #fee2e2;
  color: #dc2626;
  font-size: 20px;
}
.add-friend {
  background-color: #d1fae5;
  color: #119c70;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .sidebar-transform.offcanvas.offcanvas-start.show{
    width: 310px!important;
  }
  .sidebar-transform .offcanvas-body{
    width: 41%!important;
  }
  .sidebar .border-end{
    border: none!important;
  }
  .register-sign-in{
    padding: 35px 28px;
  }
  .register-img{
    width: 450px;
    margin: 30px;

  }

}
@media only screen and (max-width: 540px) {
  .sidebar-desktop,.icon-desktop{
    display: none;
  }
  .sidebar-transform.offcanvas.offcanvas-start.show{
    width: 215px!important;
  }
  .sidebar-transform .offcanvas-body{
    width: 53%!important;
  }
}
@media only screen and (max-width: 540px) {
  .login-img,.register-img{
    display: none;
  }
  .register-sign-in.sign-in{
    padding: 37px 20px 30px 20px;

  }
  .register-sign-in.register{
    padding: 37px 20px 30px 20px;

  }
  .register-form{
    padding-top: 40px;
  }
}


